@media only screen and (min-width: 768px) {
  body {
    background-image: url("bg.jpg");
    background-size: cover;
    height: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #container {
    position: absolute;
    width: 900px;
    height: 900px;
    border: 5px solid black;
    background-color: black;
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
  }

  #header1 {
    position: absolute;
    width: 900px;
    height: 260px;
    border: 1px solid black;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 5px 5px 5px #252525;
    background-color: #111111;
    color: orangered;
  }

  #header1 table {
    position: absolute;
    top: 60px;
    left: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 20px;
    text-align: left;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 5px #000000;
  }

  #header1 #tab2 {
    position: absolute;
    top: 60px;
    left: 180px;
    font-size: 20px;
    color: rgba(255, 145, 0, 0.897);
  }
  #header1 #tab3 {
    position: absolute;
    top: 60px;
    left: 570px;
    font-size: 30px;
    color: rgba(255, 145, 0, 0.897);
  }
  #header1 #tab4 {
    position: absolute;
    top: 60px;
    left: 840px;
    font-size: 30px;
    color: rgba(245, 245, 245, 0.897);
  }
  th,
  td {
    border-bottom: 3px solid black;
    padding: 15px 0px;
  }

  #progress-background {
    position: absolute;
    top: 30px;
    left: 50px;
    height: 30px;
    width: 200px;
    background: rgb(255, 247, 26);
    background: linear-gradient(
      90deg,
      rgba(255, 247, 26, 1) 35%,
      rgba(255, 190, 0, 1) 100%
    );
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000000;
    z-index: 1;
  }
  #progress-bar {
    position: absolute;
    top: 30px;
    left: 50px;
    height: 30px;
    width: 0;
    background: rgb(255, 126, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 126, 0, 1) 0%,
      rgba(255, 67, 1, 1) 100%
    );
    border-radius: 5px;
    z-index: 5;
  }
  #progress-bar .exp {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 25px;
    top: 0px;
    left: 70px;
    z-index: 1000;
    text-shadow: 2px 2px 5px black;
  }

  #income {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 350px;
    background: rgb(55, 55, 55);
    background: linear-gradient(
      141deg,
      rgba(55, 55, 55, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    width: 200px;
    height: 180px;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 10px black;
  }

  #header1 img {
    position: absolute;
    left: 420px;
    width: 70px;
    height: 70px;
  }
  #balance {
    color: goldenrod;
    font-size: 30px;
  }

  #day {
    font-size: 50px;
    padding-top: 10px;
  }
  #month {
    font-size: 20px;
  }
  #upgrade-btn {
    position: absolute;
    top: 20px;
    left: 260px;
    width: 50px;
    height: 50px;
    background: rgb(218, 165, 32);
    background: linear-gradient(
      141deg,
      rgba(218, 165, 32, 1) 0%,
      rgba(255, 67, 1, 1) 100%
    );
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    border-radius: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 1000;
    box-shadow: 5px 5px 5px black;
  }

  #ft-btn-down {
    position: absolute;
    top: 80px;
    left: 720px;
  }
  #ft-btn-up {
    position: absolute;
    top: 80px;
    left: 780px;
  }
  #s-btn-down {
    position: absolute;
    top: 150px;
    left: 720px;
  }
  #s-btn-up {
    position: absolute;
    top: 150px;
    left: 780px;
  }

  .up {
    background: rgb(46, 204, 64);
    background: linear-gradient(
      141deg,
      rgba(46, 204, 64, 1) 0%,
      rgba(25, 97, 33, 1) 100%
    );
    width: 40px;
    height: 40px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px black;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }
  .down {
    background: rgb(255, 65, 54);
    background: linear-gradient(
      141deg,
      rgba(255, 65, 54, 1) 0%,
      rgba(116, 30, 25, 1) 100%
    );
    width: 40px;
    height: 40px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px black;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
  }

  #save-btn {
    background: rgb(65, 65, 65);
    background: linear-gradient(
      141deg,
      rgba(65, 65, 65, 1) 0%,
      rgba(17, 17, 17, 1) 100%
    );
    width: 100px;
    height: 32px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px black;
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 223px;
    left: 720px;
    cursor: pointer;
  }

  #cal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    width: 900px;
    height: 420px;
    top: 280px;
    border-radius: 10px 10px 20px 20px;
    box-shadow: 5px 5px 5px #252525;
    background-color: #111111;
    z-index: 1;
    color: aliceblue;
  }

  .cal-day {
    width: 120px;
    height: 75px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000000;
  }
  .act-day {
    width: 120px;
    height: 75px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(226, 226, 226);
  }
  .inact-day {
    width: 120px;
    height: 75px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    color: #111111;
  }
  #weekdays {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 30px;
  }
  .weekdays {
    width: 130px;
  }
  #day-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  #day-numbers p {
    text-align: left;
    margin: 3px 7px;
    font-size: 13px;
    font-weight: 500;
    color: #aaaaaa;
  }
  .red {
    border: 2px dashed #ff4136;
    box-sizing: border-box;
  }
  .orange {
    border: 2px dashed #ff851b;
    box-sizing: border-box;
  }
  .yellow {
    border: 2px dashed #ffdc00;
    box-sizing: border-box;
  }
  .green {
    border: 2px dashed #01ff70;

    box-sizing: border-box;
  }
  #bonusValue {
    font-size: 20px;
    font-weight: 500;
  }
  #months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 900px;
    height: 180px;
    top: 430px;
    border-radius: 10px 10px 20px 20px;
    box-shadow: 5px 5px 5px #252525;
    background-color: #111111;
    z-index: 1;
    color: aliceblue;
  }
  .month {
    width: 130px;
    height: 80px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000000;
    font-size: 14px;
    color: aliceblue;
  }
  .month p {
    text-align: left;
    margin: 5px 10px;
    font-size: 13px;
    font-weight: 500;
  }

  .bonus {
    color: #aaaaaa;
    font-size: 14px;
    font-weight: 500;
  }
  .text-grey {
    color: #aaaaaa;
  }
  .text-orange {
    color: #ff851b;
  }
  .text-yellow {
    color: #ffdc00;
  }
  .text-green {
    color: #2ecc40;
  }
}
@keyframes light-up {
  from {
    box-shadow: 0px 0px 0px rgb(218, 144, 32);
  }
  to {
    box-shadow: 0px 0px 20px rgb(255, 155, 5);
  }
}
.light-up {
  animation-name: light-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*================================================================================*/
@media only screen and (max-width: 767px) {
  body {
    background-image: url("bg.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #container {
    position: absolute;
    top: 1vw;
    width: 98vw;
    height: 200vw;
    border: 5px solid black;
    background-color: black;
    border-radius: 20px;
    box-shadow: 20px 20px 20px black;
  }

  #header1 {
    position: absolute;
    /* width: 900px;
  height: 260px; */
    width: 100%;
    height: 50vw;
    border: 1px solid black;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 5px 5px 5px #252525;
    background-color: #111111;
    color: orangered;
  }

  #header1 table {
    position: absolute;
    top: 25%;
    left: 2%;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 2.5vw;
    text-align: left;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 5px #000000;
  }

  #header1 #tab2 {
    position: absolute;
    top: 25%;
    left: 13%;
    font-size: 2.5vw;
    color: rgba(255, 145, 0, 0.897);
  }
  #header1 #tab3 {
    position: absolute;
    top: 25%;
    left: 73%;
    font-size: 3vw;
    color: rgba(255, 145, 0, 0.897);
  }
  #header1 #tab4 {
    position: absolute;
    top: 25%;
    left: 87%;
    font-size: 3vw;
    color: rgba(245, 245, 245, 0.897);
  }
  th,
  td {
    border-bottom: 3px solid black;
    padding: 4vw 0px;
  }

  #progress-background {
    position: absolute;
    top: 20%;
    left: 0.5vw;
    height: 6%;
    width: 100px;
    background: rgb(255, 247, 26);
    background: linear-gradient(
      90deg,
      rgba(255, 247, 26, 1) 35%,
      rgba(255, 190, 0, 1) 100%
    );
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000000;
    z-index: 1;
  }
  #progress-bar {
    position: absolute;
    top: 20%;
    left: 0.5vw;
    height: 6%;
    width: 0;
    background: rgb(255, 126, 0);
    background: linear-gradient(
      90deg,
      rgba(255, 126, 0, 1) 0%,
      rgba(255, 67, 1, 1) 100%
    );
    border-radius: 5px;
    z-index: 5;
  }
  #progress-bar .exp {
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-weight: 1000;
    top: 0px;
    left: 25px;
    z-index: 100;
    text-shadow: 2px 2px 5px black;
  }

  #income {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(55, 55, 55);
    background: linear-gradient(
      141deg,
      rgba(55, 55, 55, 1) 0%,
      rgba(0, 0, 0, 1) 100%
    );
    width: 40vw;
    height: 40vw;
    border-radius: 10px;
    margin: 0;
    padding: 0;
    box-shadow: 10px 10px 10px black;
  }

  #header1 img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 15vw;
    height: 15vw;
  }
  #balance {
    color: goldenrod;
    font-size: 6vw;
  }

  #day {
    font-size: 10vw;
    padding-top: 3vw;
  }
  #month {
    font-size: 4vw;
  }
  #upgrade-btn {
    position: absolute;
    top: 30%;
    left: 21%;
    width: 7vw;
    height: 7vw;
    background: rgb(218, 165, 32);
    background: linear-gradient(
      141deg,
      rgba(218, 165, 32, 1) 0%,
      rgba(255, 67, 1, 1) 100%
    );
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    border-radius: 10px;
    cursor: pointer;
    font-size: 3vw;
    font-weight: 1000;
    box-shadow: 5px 5px 5px black;
  }

  #ft-btn-down {
    position: absolute;
    top: 20vw;
    left: 91vw;
  }
  #ft-btn-up {
    position: absolute;
    top: 14vw;
    left: 91vw;
  }
  #s-btn-down {
    position: absolute;
    top: 33vw;
    left: 91vw;
  }
  #s-btn-up {
    position: absolute;
    top: 27vw;
    left: 91vw;
  }

  .up {
    background: rgb(46, 204, 64);
    background: linear-gradient(
      141deg,
      rgba(46, 204, 64, 1) 0%,
      rgba(25, 97, 33, 1) 100%
    );
    width: 6vw;
    height: 6vw;
    border-radius: 7px;
    box-shadow: 5px 5px 5px black;
    font-size: 4vw;
    font-weight: 700;
    cursor: pointer;
  }
  .down {
    background: rgb(255, 65, 54);
    background: linear-gradient(
      141deg,
      rgba(255, 65, 54, 1) 0%,
      rgba(116, 30, 25, 1) 100%
    );
    width: 6vw;
    height: 6vw;
    border-radius: 7px;
    box-shadow: 5px 5px 5px black;
    font-size: 4vw;
    font-weight: 700;
    cursor: pointer;
  }

  #save-btn {
    background: rgb(65, 65, 65);
    background: linear-gradient(
      141deg,
      rgba(65, 65, 65, 1) 0%,
      rgba(17, 17, 17, 1) 100%
    );
    width: 18vw;
    height: 6vw;
    border-radius: 7px;
    box-shadow: 5px 5px 5px black;
    font-size: 3vw;
    font-weight: 700;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 40vw;
    left: 81vw;
    transform: translateX(-50%);
    cursor: pointer;
  }

  #cal-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    position: absolute;
    width: 98vw;
    height: 106vw;
    top: 55vw;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #252525;
    background-color: #111111;
    z-index: 1;
    color: aliceblue;
  }

  .cal-day {
    width: 13vw;
    height: 20vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000000;
  }
  .act-day {
    width: 13vw;
    height: 20vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(226, 226, 226);
  }
  .inact-day {
    width: 13vw;
    height: 20vw;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
    color: #111111;
  }
  #weekdays {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 3vw;
  }
  .weekdays {
    width: 14vw;
    height: 2vw;
    font-size: 2.5vw;
  }
  #day-numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 3vw;
    margin-top: 0;
  }
  #day-numbers p {
    text-align: left;
    margin: 1.5vw 1vw;
    font-size: 2.7vw;
    font-weight: 500;

    color: #aaaaaa;
  }
  .red {
    border: 1px dashed #ff4136;
    box-sizing: border-box;
  }
  .orange {
    border: 1px dashed #ff851b;
    box-sizing: border-box;
  }
  .yellow {
    border: 1px dashed #ffdc00;
    box-sizing: border-box;
  }
  .green {
    border: 1px dashed #01ff70;
    box-sizing: border-box;
    font-weight: 1000;
  }
  #months {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 98vw;
    height: 45vw;
    top: 108vw;
    border-radius: 10px 10px 20px 20px;
    box-shadow: 5px 5px 5px #252525;
    background-color: #111111;
    z-index: 1;
  }
  .month {
    width: 16vw;
    height: 20vw;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #000000;
    font-size: 2.5vw;
    color: aliceblue;
  }
  .month p {
    text-align: left;
    margin: 2vw 2vw;
    font-size: 2.7vw;
    font-weight: 500;
  }
  .bonus {
    color: #aaaaaa;
    font-weight: 500;
    font-size: 2.8vw;
    margin: 0;
    padding: 0;
  }
  .text-grey {
    color: #aaaaaa;
  }
  .text-orange {
    color: #ff851b;
  }
  .text-yellow {
    color: #ffdc00;
  }
  .text-green {
    color: #2ecc40;
    font-size: 3.5vw;
    padding-top: 1vw;
  }
}
@keyframes light-up {
  from {
    box-shadow: 0px 0px 0px rgb(218, 144, 32);
  }
  to {
    box-shadow: 0px 0px 20px rgb(255, 155, 5);
  }
}
.light-up {
  animation-name: light-up;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
