body {
  background-image: url("bg.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
}

#container {
  position: absolute;
  width: 900px;
  height: 800px;
  border: 5px solid black;
  background-color: black;
  border-radius: 20px;
  box-shadow: 20px 20px 20px black;
}

#header1 {
  position: absolute;
  width: 900px;
  height: 260px;
  border: 1px solid black;
  border-radius: 20px 20px 10px 10px;
  box-shadow: 5px 5px 5px #252525;
  background-color: #111111;
  color: orangered;
}

#header1 table {
  position: absolute;
  top: 60px;
  left: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
  text-align: left;
  margin: 0;
  padding: 0;
  text-shadow: 3px 3px 5px #000000;
}

#header1 #tab2 {
  position: absolute;
  top: 60px;
  left: 180px;
  font-size: 30px;
  color: rgba(255, 145, 0, 0.897);
}
#header1 #tab3 {
  position: absolute;
  top: 60px;
  left: 570px;
  font-size: 30px;
  color: rgba(255, 145, 0, 0.897);
}
#header1 #tab4 {
  position: absolute;
  top: 60px;
  left: 840px;
  font-size: 30px;
  color: rgba(245, 245, 245, 0.897);
}
th,
td {
  border-bottom: 3px solid black;
  padding: 15px 0px;
}

#progress-background {
  position: absolute;
  top: 30px;
  left: 50px;
  height: 30px;
  width: 200px;
  background: rgb(255, 247, 26);
  background: linear-gradient(
    90deg,
    rgba(255, 247, 26, 1) 35%,
    rgba(255, 190, 0, 1) 100%
  );
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000000;
  z-index: 1;
}
#progress-bar {
  position: absolute;
  top: 30px;
  left: 50px;
  height: 30px;
  width: 0;
  background: rgb(255, 126, 0);
  background: linear-gradient(
    90deg,
    rgba(255, 126, 0, 1) 0%,
    rgba(255, 67, 1, 1) 100%
  );
  border-radius: 5px;
  z-index: 5;
}
#progress-bar .exp {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 25px;
  top: 0px;
  left: 70px;
  z-index: 1000;
  text-shadow: 2px 2px 5px black;
}

#income {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 350px;
  background: rgb(55, 55, 55);
  background: linear-gradient(
    141deg,
    rgba(55, 55, 55, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  width: 200px;
  height: 180px;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  box-shadow: 10px 10px 10px black;
}

#header1 img {
  position: absolute;
  left: 420px;
  width: 70px;
  height: 70px;
}
#balance {
  color: goldenrod;
  font-size: 35px;
}

#day {
  font-size: 50px;
  padding-top: 20px;
}
#month {
  font-size: 20px;
}
#upgrade-btn {
  position: absolute;
  top: 20px;
  left: 260px;
  width: 50px;
  height: 50px;
  background: rgb(218, 165, 32);
  background: linear-gradient(
    141deg,
    rgba(218, 165, 32, 1) 0%,
    rgba(255, 67, 1, 1) 100%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 1000;
  box-shadow: 5px 5px 5px black;
}

#ft-btn-down {
  position: absolute;
  top: 80px;
  left: 720px;
}
#ft-btn-up {
  position: absolute;
  top: 80px;
  left: 780px;
}
#s-btn-down {
  position: absolute;
  top: 150px;
  left: 720px;
}
#s-btn-up {
  position: absolute;
  top: 150px;
  left: 780px;
}

.up {
  background: rgb(46, 204, 64);
  background: linear-gradient(
    141deg,
    rgba(46, 204, 64, 1) 0%,
    rgba(25, 97, 33, 1) 100%
  );
  width: 40px;
  height: 40px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px black;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}
.down {
  background: rgb(255, 65, 54);
  background: linear-gradient(
    141deg,
    rgba(255, 65, 54, 1) 0%,
    rgba(116, 30, 25, 1) 100%
  );
  width: 40px;
  height: 40px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px black;
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

#save-btn {
  background: rgb(65, 65, 65);
  background: linear-gradient(
    141deg,
    rgba(65, 65, 65, 1) 0%,
    rgba(17, 17, 17, 1) 100%
  );
  width: 100px;
  height: 32px;
  border-radius: 7px;
  box-shadow: 5px 5px 5px black;
  font-size: 20px;
  font-weight: 700;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 223px;
  left: 720px;
  cursor: pointer;
}

#cal-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  position: absolute;
  width: 900px;
  height: 520px;
  top: 280px;
  border-radius: 10px 10px 20px 20px;
  box-shadow: 5px 5px 5px #252525;
  background-color: #111111;
  z-index: 1;
  color: aliceblue;
}

.cal-day {
  width: 120px;
  height: 75px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #000000;
}
.act-day {
  width: 120px;
  height: 75px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(218, 144, 32);
}
.inact-day {
  width: 120px;
  height: 75px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 2px rgb(0, 0, 0);
  color: #111111;
}
#weekdays {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}
.weekdays {
  width: 130px;
  height: 30px;
}
#day-numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin: 0;
  padding: 0;
}
#day-numbers p {
  text-align: left;
  margin: 3px 7px;
  font-size: 13px;
  font-weight: 500;

  color: rgb(245, 215, 138);
  text-decoration: underline black 2px;
}
.red {
  border: 2px solid red;
}
.orange {
  border: 2px solid orange;
}
.yellow {
  border: 2px solid yellow;
}
.green {
  border: 2px solid rgb(51, 236, 51);
}
